.login-container {
  display: flex;
  flex-direction: row-reverse; /* Positions the child elements starting from the right */
  align-items: center; /* Vertically centers the form in the viewport */
  height: 100vh;
  background: url('../../public/locationsimage.jpg') no-repeat left center fixed; /* Keeps the background image to the left */
  background-size: cover;
}

.login-form-container {
  /* display: flex; */
  flex-direction: column; /* Stacks the form elements vertically */
  justify-content: center; /* Centers the form elements vertically within the container */
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  height:100%;
  width: auto; /* Allows the width to be determined by the content and padding */
  max-width: 400px; /* Sets a max-width for larger screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left:auto; /* Pushes the container to the right */
  margin-right:0; /* Spacing from the right edge of the screen */
}

@media (max-width: 1024px) {
  .login-container {
    justify-content: center; /* Center the form on medium screens */
  }

  .login-form-container {
    margin: auto; /* Centers the form container */
    margin-top: 20px; /* Spacing from the top of the viewport */
    margin-bottom: 20px; /* Spacing from the bottom of the viewport */
  }
}

@media (max-width: 600px) {
  .login-form-container {
    padding: 20px; /* Reduces padding on small screens */
    width: 90%; /* Allows the form to be responsive while maintaining padding from the viewport edges */
  }
}

.login-title {
  font-size: 1.2em; /* Use em units for scalability */
  color: #06beb6;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-subtitle {
  color: #dddddd;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
}

.login-checkbox {
  align-self: flex-start; /* Align the checkbox to the start */
  color: white;
  margin-bottom: 20px;
}

.login-checkbox input {
  margin-right: 10px;
}

.login-button {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background: rgb(57, 168, 161);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.login-button:hover {
  background: #06beb6;
}

.login-links {
  color: white;
  display: flex; /* Use flex to keep links in line */
  justify-content: center; /* Center the links */
  gap: 5px; /* Add a small gap between text and link */
}

.login-link {
  color: rgb(57, 168, 161);
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.no-account-text {
  color: white; /* Adjust the color as needed */
}