.dark-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #1a2c2e 38%, #000000 100%);
}

.navbar{
    width:100vw;
}

.navLinks {
  position: absolute;
  left: 100px;
}

.view-my-profile {
    background-color: white;
    position: absolute;
    top: 0px;
    left: 70vw;
    padding-left: 0px;
    
    width: 240px;
}




.vecteezy_car-headlight-and-isolated-on-black_2118167{

 
position: absolute;
width: 1250px;
height: 540px;
left: calc(50% - 1250px/2);
top: 198px;

background: url(vecteezy_car-headlight-and-isolated-on-black_2118167.jpg);
border-radius: 66px;
}

/* Unlock the potential of your idle car! */

/* position: absolute;
width: 507px;
height: 67px;
left: 149px;
top: 230px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 60px;

color: #FFFFFF;




/* Rent it out and earn from home, hassle-free. */
/* 
position: absolute;
width: 442px;
height: 47px;
left: 149px;
top: 358px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 800;
font-size: 17px;
line-height: 20px;

color: #39A8A1;

 */



/* Frame 8 */

/* position: absolute;
width: 245px;
height: 37px;
left: 127px;
top: calc(50% - 37px/2 - 97.5px); */






/* Rent Cars Near You */
/* 
position: absolute;
width: 452px;
height: 67px;
left: 868px;
top: 226px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 60px;

color: #39A8A1;
 */
/* john-rodenn-castillo-DFgm6TlEEJY-unsplash 1 */

/* box-sizing: border-box;

position: absolute;
width: 518px;
height: 975px;
left: 446px;
top: 0px;

background: url(john-rodenn-castillo-DFgm6TlEEJY-unsplash.jpg);
border-radius: 250px 250px 0px 0px; */
